@import 'variable';
@import 'mixin';

.header {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.header__title {
  border-bottom: 3px black solid;
}

.header__content {
  display: flex;
  gap: 20px;
}

.header__link {
  @include btn-primary;
}
