@mixin btn-primary {
  background-color: $primary-color;
  color: white;
  padding: 7px 12px;
  border-radius: 6px;
}

@mixin btn-secondly {
  background-color: $background-color;
  color: black;
  padding: 7px 12px;
  border-radius: 6px;
}
@mixin btn-formm {
  background-color: #494b4b;
  color: white;
  padding: 7px 12px;
  border-radius: 6px;
  :hover {
    opacity: 0.7;
  }
}
